.button-container {
  font-family: sans-serif;
  height: 35px;
  width: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  margin: 10px;
  &.full {
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
    &.danger {
      background-color: crimson;
    }
    &.primary {
      background-color: #2196f3;
    }
    &:hover {
      background-color: transparent;
      border: 1px solid white;
      box-shadow: 1px 1px 7px 1px #696767;
    }
  }
  &.empty {
    &.danger {
      border: 1px solid crimson;
    }
    &.primary {
      border: 1px solid #2196f3;
    }
  }
  &.rounded {
    border-radius: 5px;
  }
  &.square {
  }
}
