.modal-container {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: z-index 0.5s ease;
  &.visible {
    z-index: 1000;
    .overlay {
      opacity: 1;
    }
    .modal {
      top: 0;
    }
  }
  &.hidden {
    z-index: -1;
  }
  .overlay {
    height: 100%;
    width: 100%;
    background-color: #00000087;
    opacity: 0;
    position: absolute;
    transition: opacity 0.5s ease;
  }
  .modal {
    height: 50%;
    width: 25%;
    background-color: white;
    z-index: 10001;
    border-radius: 5px;
    box-shadow: -1px -1px 19px #bbb;
    padding: 15px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: -100%;
    transition: top 0.8s ease-in-out;
    max-width: 450px;
    max-height: 650px;
  }
}

.intro-modal {
  width: 100%;
  position: relative;
  height: 100%;
  .intro-background {
    flex-direction: column;
    width: 100%;
    /* top: 0; */
    /* left: 0; */
    /* right: 0; */
    /* border: 0; */
    /* align-items: center; */
    justify-content: space-between;
    .top {
      position: absolute;
      top: 0;
      height: 60%;
      background-color: white;
      width: 100%;
      .left {
        display: flex;
        justify-content: space-evenly;
        position: absolute;
        bottom: -200px;
        width: 30%;
        height: 200px;

        .line {
          position: relative;
          // bottom: -45px;
          top: -20px;
          width: 30px;
          background-color: white;
          z-index: 100;
          border-radius: 50px;

          &:nth-child(1) {
            height: 40px;
            animation: growInOut 3s infinite 5s;
          }
          &:nth-child(2) {
            height: 120px;
            animation: growInOut 3s infinite 1s;
          }
          &:nth-child(3) {
            height: 80px;
            animation: growInOut 3s infinite 3s;
          }
        }
      }
      .right {
        display: flex;
        justify-content: space-evenly;
        position: absolute;
        bottom: -200px;
        width: 30%;
        height: 200px;
        right: 0;
        .line {
          position: relative;
          // bottom: -45px;
          top: -20px;
          width: 30px;
          background-color: white;
          z-index: 100;
          border-radius: 50px;

          &:nth-child(1) {
            height: 60px;
            animation: growInOut 3s infinite 2s;
          }
          &:nth-child(2) {
            height: 30px;
            animation: growInOut 3s infinite 12s;
          }
          &:nth-child(3) {
            height: 100px;
          }
          // &div {
          //   animation: growInOut 2s infinite;
          // }
        }
      }
    }
    .bottom {
      position: absolute;
      bottom: 0;
      height: 40%;
      background-color: #2196f3;
      width: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
    }
  }
}

@keyframes growInOut {
  0%,
  100% {
    height: 10%;
  }
  50% {
    height: 40%;
  }
}
