.ace_print-margin {
  //   height: 0 !important;
  visibility: hidden !important;
}
.ace_gutter-layer {
  background-color: #111318c2;
}

.ide-container {
  position: relative;
  // width: 48%;
  height: 100%;
}
