@import "../../../main.scss";

.challenge-container {
  .challenge-title {
    color: $text-color;
    font-size: $font-size-title;
    display: flex;
    align-items: center;
    height: 70px;
  }
  .challenge-interface {
    display: flex;
    justify-content: space-between;
    .right-section {
      height: 800px;
      width: 50%;

      .challenge-boxes {
        display: flex;
        width: 100%;
        height: 100px;
        margin: 15px 0px;
        justify-content: space-between;
      }
      .ide-container {
        height: 650px;
        margin: 15px 0;
      }
      .actions-btn {
        display: flex;
        justify-content: space-between;
      }
    }
    .left-section {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 15px;
      .challenge-terminal {
        height: 40%;
        .terminal {
          height: 100%;
        }
      }
    }
  }
}
