// $orange: #ff9800;
// $orange-dark: #ff5722;
// $red-light: #e91e63;
// $dark-bg: #15191f;
// $semi-dark-bg: #15191f;
// $blue: #00b2ef;

$light-green: #4caf50ab;

$orange: #faf6f2;
$orange-dark: #a7a6a5;
$red-light: #00b2ef;
$dark-bg: #ff000000;
$semi-dark-bg: #15191f;
$blue: #00b2ef;
$text-color: #908f91;
$text-color-fade: #545559;
$red-danger: #e91e63;

$font-size-title: 36px;
$font-size-subtitle: 24px;
$font-size-regular: 18px;
